@font-face {
    font-family: 'Roboto-Light';
    src: url('../roboto-light.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../roboto-regular.ttf');
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../gotham-bold.ttf');
}
html, body, nav, header, footer, aside, div, span, h1, h2, h3, h4, h5, h6, p, table, td, tr, tbody, form, label, input, select, textarea, button, fieldset, legend, ul, ol, li, a, img { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;border:0;outline:0; }
html { height:100%;overflow-y:scroll;-webkit-font-smoothing:antialiased; }
body { background-color:#c2c2c2;min-height:100%;position:relative;display:block;display:flex;flex-direction:column;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased; }
#main { width:100%;min-height:100%;position:relative;display:block;flex:1; }
header { background-color:#d5d5d5;width:100%;position:relative;display:block;padding:0;margin-bottom:40px;border-bottom:1px solid #b1b1b1; }
header.nomargin { margin-bottom:0; }
header.header_margin { margin-bottom:40px; }
header > #header_inner { width:1000px;max-width:100%;position:relative;display:block;padding:0;margin:0 auto; }
header > #header_inner #logo { background-image:url('../img/logo_dark.png');background-repeat:no-repeat;background-position:center center;background-size:175px;width:175px;height:64px;display:block;image-rendering:-webkit-optimize-contrast;margin:0; }
header > #header_inner #pagetitle { height:64px;position:absolute;top:0;right:0;display:block;cursor:default;line-height:64px;color:#717171;font-size:28px;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-transform:uppercase; }
header > #header_inner #print_headerinfo { position:absolute;top:0;right:0;display:none;line-height:16px;color:#eee;font-size:12px;text-align:right;padding:12px 15px; }
header > #header_inner #print_headerinfo > span { display:block; }
header > #header_inner #print_headerinfo span#employee { text-transform:capitalize; }
#topbarmessage { background-color:#cc1616;width:100%;position:absolute;top:0;left:0;display:block;cursor:default;color:#fff;font-size:18px;text-align:center;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;padding:10px;box-shadow:inset 0 -3px 0 0 #e41818, 0 0 30px 0 rgba(0,0,0,0.5); }
#main #content { width:1000px;max-width:100%;min-height:400px;position:relative;float:none;padding-bottom:100px;margin:0 auto; }
.disabledoption { pointer-events:none;opacity:0.3; }
svg.text-danger { color:#d9534f;color:rgba(235,0,0,0.70); }
/* Internet Explorer block */
#ieblock { background-color:#ccc;width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;display:none;color:#41474a;font-size:92px;text-align:center;padding-top:150px; }
#ieblock > span { width:800px;display:block;cursor:default;text-align:center;margin:0 auto 15px;  }
#ieblock > span svg { cursor:default;  }
#ieblock > div { width:800px;display:block;cursor:default;color:#41474a;font-size:42px;text-align:center;margin:0 auto 15px; }
#ieblock > div a { color:#1a7ce0;font-size:24px;text-decoration:none; }
#ieblock > div a:hover { color:#222; }
#ieblock > div svg, #ieblock > div i { font-size:48px;vertical-align:middle;margin-right:10px; }
#ieblock > p { width:800px;display:block;cursor:default;color:#41474a;font-size:20px;text-align:center;margin:0 auto 20px; }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#ieblock { display:block !important; }
	#main { display: none !important; }
}
/* Block small screen deveices */
#mobileblock { background-color:#ccc;width:100%;height:100%;position:fixed;top:0;left:0;z-index:1000;display:none;color:#41474a;font-size:92px;text-align:center;padding:80px 25px 0; }
#mobileblock > span { width:800px;max-width:100%;display:block;cursor:default;text-align:center;margin:0 auto 15px;  }
#mobileblock > span svg { cursor:default;  }
#mobileblock > div { width:800px;max-width:100%;display:block;cursor:default;color:#41474a;font-size:36px;text-align:center;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-transform:uppercase;margin:0 auto 15px; }
#mobileblock > p { width:800px;max-width:100%;display:block;cursor:default;color:#41474a;font-size:20px;text-align:center;margin:0 auto; }
/* Form Loading */
#form_loading { width:100%;height:100%;display:block;color:#4f585e;font-size:36px;text-align:center;padding-top:200px; }
#form_loading.fullscreenloading { background-color:#c2c2c2;position:fixed;top:0;left:0;z-index:1000;padding-top:280px; }
#loading_title { width:100%;height:36px;display:block;cursor:default;color:#4f585e;font-size:32px;font-weight:bold;text-transform:uppercase;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif; }
.loading_icon { margin-top:0; }
@-webkit-keyframes load2 {
  0% { -webkit-transform:rotate(0deg);transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg);transform:rotate(360deg); }
}
@keyframes load2 {
  0% { -webkit-transform:rotate(0deg);transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg);transform:rotate(360deg); }
}
/* Form */
#form { display:none; }
#form #form_stepindicator { width:100%;display:block;text-align:center;padding:10px 0 15px;margin-bottom:40px; }
#form #form_stepindicator > div { background-color:#adadad;width:80px;height:6px;display:inline-block;margin:0 10px; }
#form #form_stepindicator > div.activestep { background-color:#fffdde;box-shadow:0 0 15px 0 #fef200, 0 0 40px 3px #fef200; }
#form #form_stepindicator > div.completedstep { background-color:#9dff7d;box-shadow:0 0 15px 0 #63de3b; }
#form .form_centered { text-align:center; }
#form .form_paddingtopminor { padding-top:20px; }
#form .form_paddingtop { padding-top:80px; }
#form .form_paddingtopx2 { padding-top:160px; }
#form fieldset { background-color:#d5d5d5;position:relative;display:block;padding:0 15px;margin-bottom:60px;border:1px solid #b1b1b1;border-bottom-width:2px; }
#form fieldset.fieldset_big { padding-top:35px;padding-bottom:50px; }
#form fieldset#operatingsystem { height:186px;transition-property:height, transform;transition-duration:500ms, 250ms;transition-timing-function:ease; }
#form fieldset#operatingsystem.os_enlarged { transform:scale(1.1); }
#form fieldset#operatingsystem.os_onerow { height:122px; }
#form fieldset#transfer { height:238px;transition-property:height;transition-duration:500ms;transition-timing-function:ease; }
#form fieldset#transfer.transfer_onerow { height:159px; }
#form fieldset.fieldset_centered { text-align:center; }
#form fieldset.fieldset_paddingtop { padding-top:80px; }
#form fieldset.fieldset_paddingtopx2 { padding-top:160px; }
#form fieldset.fieldset_midscreen { padding-top:140px; }
#form fieldset.fieldset_hidden { display:none; }
#form fieldset.fieldset_disabled { pointer-events:none; }
#form fieldset.fieldset_faded { opacity:0.35;pointer-events:none; }
#form fieldset.fieldset_required, #form fieldset.messagebox { background-image:linear-gradient(to left, rgba(255,117,117,0.40) 0%, rgba(255,117,117,0.08) 100%);border-color:#d68787; }
#form fieldset span.fieldset_placeholder { background-color:transparent;background-image:repeating-linear-gradient(135deg,rgb(220 179 179),rgb(220 179 179) 20px,rgb(213 213 213) 20px,rgb(213 213 213) 30px);background-position:center top;width:100%;max-width:965px;height:123px;top:0;left:15px;position:absolute;display:block;z-index:1000;line-height:58px;color:#ffeaea;font-size:36px;font-weight:bold;text-transform:uppercase;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-align:center;text-shadow:3px 3px 0 rgb(0 0 0 / 15%);padding:30px 0;margin:0;border:none; }
#form .form_centered fieldset span.fieldset_placeholder, #form fieldset.fieldset_centered span.fieldset_placeholder { margin:0 auto; }
#form fieldset span.fieldset_timeneutral { background-color:#c3c3c3;width:400px;height:59px;display:block;line-height:58px;color:#a5a5a5;font-size:26px;font-weight:bold;text-transform:uppercase;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;padding:0 20px;margin:0 auto;border-radius:3px; }
#form fieldset span.fieldset_timegreen { background-color:#65bb6b;width:400px;height:42px;display:block;line-height:42px;color:#fff;font-size:18px;padding:0 20px;margin:0 auto 5px;border-radius:3px; }
#form fieldset span.fieldset_timegreen:nth-of-type(even) { background-color:#729c75; }
#form_advanced fieldset { display:none; }
#form legend { height:36px;display:block;cursor:default;color:#4f585e;font-size:32px;text-transform:uppercase;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;padding:0 5px;margin-left:-5px;margin-bottom:10px; }
#form fieldset.fieldset_required legend, #form fieldset.messagebox legend { color:#9e1d1d; }
#form legend svg, #form legend i.fa, #form legend i.fas { display:inline-block;min-width:24px;min-height:32px;margin-right:10px; }
#form .accountcopy { display:none !important;background-color:#49a73c;height:40px;top:-5px;right:0;position:absolute;z-index:2;display:inline-block;float:left;cursor:pointer;line-height:42px;color:#fff;font-size:16px;font-family:"Roboto",Arial,Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;padding:0 15px;margin-left:30px; }
#form .accountcopy:hover { background-color:#000; }
#form .accountcopy svg, #form .accountcopy i.fas { display:inline-block;vertical-align:middle;margin-left:10px }
#form a { text-decoration:none; }
#form mg { image-rendering:-webkit-optimize-contrast; }
#form .heading { display:block;color:#4f585e;font-size:28px;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-transform:uppercase;margin-bottom:5px; }
#form p { cursor:default;color:#4f585e;font-size:18px;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;margin-bottom:15px; }
#form p#setuplist { margin-bottom:15px; }
#form p.centered { text-align:center; }
#form p.margintop { margin-top:120px; }
#form p.marginbotttom { margin-bottom:120px; }
#form fieldset.fieldset_required p, #form fieldset.messagebox p { color:#711414; }
#form #formstatistics { background-color:#d5d5d5;text-align:center;padding:20px;margin-top:100px;margin-bottom:20px;border:1px solid #b1b1b1;border-bottom-width:2px; }
#form #formdonation { background-color:#db4444;text-align:center;padding:20px;margin-top:0;margin-bottom:0;border:1px solid #cf0000;border-bottom-width:2px; }
#form #formdonation legend { background-color:#811c1c;height:56px;color:#fff;padding:10px 20px;margin-bottom:0;border-radius:5px;box-shadow:2px 2px 20px 0 rgba(0,0,0,0.25); }
#form #formdonation p { color:#fff; }
#form #formdonation p a { color:#ffff00; }
#form #formdonation p a:hover { color:#fff; }
#form #formnews { background-color:#d5d5d5;text-align:center;padding:20px;margin-top:0;margin-bottom:0;border:1px solid #b1b1b1;border-bottom-width:2px; }
#form #formcount { color:#fef200;font-weight:bold;text-shadow:0 0 40px #fef200;margin:0 2px; }
#form #privacydisclaimer { color:#dce1e4;text-align:center;margin-top:20px; }
/* Inputs */
.input { background-color:#fff;min-width:210px;height:50px;position:relative;display:inline-block;cursor:text;line-height:50px;color:#333;font-size:18px;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:left;padding:0 15px;margin-right:20px;margin-bottom:15px;border-width:0 0 3px 0;border-style:solid;border-color:#9e9e9e;border-radius:3px;transition:border 150ms linear 0s, padding 150ms linear 0s;outline:0; }
.input.input_big, .input_biglong { width:380px;height:80px;line-height:82px;font-size:36px;font-family:"Roboto-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;padding:0 25px;margin-right:0;border-bottom-width:4px;border-radius:5px; }
.input.input_biglong { width:520px; }
.input.input_long { min-width:280px; }
.input.input_verylong { min-width:380px; }
.input.input_short { min-width:170px; }
.input.input_tiny { min-width:140px; }
.input.input_labelradioextra { height:59px;line-height:59px;margin:0 0 5px 10px; }
.input.input_scannable { border-radius:0 3px 3px 0; }
.input[contenteditable]:empty { color:#707070; }
.input.input_required[contenteditable]:empty { color:#ad3232; }
.input[contenteditable]:before { content:attr(data-placeholder);width:0;position:relative;z-index:1;display:none;pointer-events:none;white-space:nowrap; }
div.input { height:auto;min-width:420px;max-width:100%;min-height:72px;max-height:204px;overflow:hidden;white-space:initial;line-height:22px;padding:14px 15px 11px; }
.input[contenteditable]:empty:before { display:inline-block; }
.input[contenteditable].input_placeholder2:empty:before { content:attr(data-placeholder2); }
.input_scanicon { background-color:#eaecff;top:-2px;position:relative;height:50px;width:50px;display:inline-block;line-height:50px;vertical-align:middle;text-align:center;margin-right:0;border-width:0 0 3px 0;border-style:solid;border-color:#82838c;border-radius:3px 0 0 3px; }
.input_scanicon:hover { background-color:#fbfbfb;border-bottom-color:#bbb; }
.input_scanicon svg, .input_scanicon i { vertical-align:middle;color:#111;font-size:32px;--fa-secondary-opacity:1.0;--fa-primary-color:#ff1e1e;--fa-secondary-color:black;-webkit-font-smoothing:none; }
/* Dropdowns */
select { background-color:#fff;min-width:201px;cursor:pointer;color:#333;font-size:18px;padding:14px 10px 11px;margin-right:20px;margin-bottom:15px;border-width:0 0 3px;border-style:solid;border-color:#888;border-radius:3px;outline:0; }
select.shortselect { min-width:141px; }
select.dynamicmaxselect { width:500px !important; }
select option { background-color:#fff; }
select option.disabled { cursor:not-allowed;color:#999; }
/* Radiobuttons and Checkboxes */
label { display:inline-block;cursor:pointer;color:#333;font-size:18px;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;margin-right:20px;margin-bottom:15px; }
label.label_hidden { display:none; }
label.label_disabled { pointer-events:none;opacity:0.25; }
div.checkbox_list { width:100%;display:block;float:left; }
.checkbox_list label { width:25%;float:left;margin-right:0; }
.checkbox_list label.checked { color:#1d7b24;font-weight:bold; }
.checkbox_list.checkbox_list_wide label { width:50%;float:left;margin-right:0; }
.checkbox_list.checkbox_list_fullwidth label { width:100%;float:left;margin-right:0; }
input[type="radio"], input[type="checkbox"] { width:25px;height:25px;cursor:pointer;vertical-align:middle;margin-right:5px;margin-bottom:1px; }
/* General Form Styling */
#form .input.input_hidden, #form input.input_hidden, #form select.input_hidden, #form #patternHolder7.input_hidden { display:none; }
/* Form Element States */
.input:focus { border-left-width:8px;padding-right:7px; }
.input.input_big:focus, .input.input_biglong:focus { border-left-width:18px;padding-right:7px; }
.input.input_required, select[required] { background-color:#fff0f0;border-color:#dc8383; }
select[required] { background-color:#ffa9a9;color:#7b1919; }
select:hover, select:focus { background-color:#ffda70 !important;color:#333;border-color:#a98c23 !important; }
.input.incomplete { background-color:#ffecdf;border-color:#f05a22; }
.input:not(.incomplete).approved { background-color:#e0ffde;color:#2a773b;border-color:#42af4a !important; }
select.approved { background-color:#a9ffb0;color:#0f5214;border-color:#42af4a; }
/* Input Tooltips */
.input[data-tooltip]:focus:after, .input_scanicon[data-tooltip]:hover:after { background-color:#626f75;content:attr(data-tooltip);min-width:250px;position:absolute;left:50%;top:54px;z-index:100;display:inline-block;pointer-events:none;cursor:default;line-height:16px;color:#edf6fb;font-size:12px;font-family:Verdana, Arial, sans-serif;text-align:left;padding:10px 10px 8px;margin-left:-50%;margin-left:calc(-50% - 8px);border-radius:3px; }
.input.input_big[data-tooltip]:focus:after, .input.input_biglong[data-tooltip]:focus:after { top:84px;margin-left:-50%;margin-left:calc(-50% - 20px); }
.input_scanicon[data-tooltip]:hover:after { background-color:#4c565a;min-width:180px;z-index:101;margin-left:-50%; }
.input.input_labelradioextra[data-tooltip]:focus:after { top:63px; }
/* Device Type selection */
fieldset.fancyradiobuttons { padding-bottom:10px !important; }
fieldset.fancyradiobuttons .fancyradiolist, fieldset.fancyradiobuttons .fancycheckboxlist { display:block; }
fieldset.fancyradiobuttons .fancyradiolist.fancyradiolist_topborder, fieldset.fancyradiobuttons .fancycheckboxlist.fancycheckboxlist_topborder { margin-top:15px; }
fieldset.fancyradiobuttons .fancyradiolist_flex, fieldset.fancyradiobuttons .fancycheckboxlist_flex { display:flex; }
fieldset.fancyradiobuttons input[type="radio"], fieldset.fancyradiobuttons input[type="checkbox"] { display:none !important; }
fieldset.fancyradiobuttons label { background-color:#e8e8e8;min-width:40px;height:59px;position:relative;float:left;line-height:58px;color:#717273;text-align:center;padding:0 20px;margin-right:5px;margin-bottom:5px;border-bottom:3px solid #b3b3b3;border-radius:3px; }
fieldset.fancyradiobuttons .fancyradiolist.fancyradiolist_wide label { width:220px; }
fieldset#devicetype.fancyradiobuttons label { transition:opacity 250ms ease; }
fieldset.fancyradiobuttons.fancyradiobuttons_fixedbtnwidth label { min-width:120px; }
fieldset.fancyradiobuttons label:not(.checked).label_required { background-color:#e2adad;color:#6f3a3a;border-color:#dc8383; }
fieldset.fancyradiobuttons label:not(.checked):hover { background-color:#ffda70;color:#4e4324;border-color:#d0b25e; }
fieldset.fancyradiobuttons label.label_checkbox.checked:hover { background-color:#a6ffad;color:#56925b;border-color:#87d08d; }
fieldset.fancyradiobuttons label.checked { background-color:#88f190;cursor:default;color:#2d5831;border-bottom-color:#70b576; }
fieldset.fancyradiobuttons label.label_checkbox.checked { cursor:pointer; }
fieldset.fancyradiobuttons label.label_disabled { opacity:0.3;pointer-events:none; }
fieldset.fancyradiobuttons.fancyradiobuttons_bigicons svg, fieldset.fancyradiobuttons.fancyradiobuttons_bigicons i.fa, fieldset.fancyradiobuttons.fancyradiobuttons_bigicons i.fas { min-width:20px;min-height:32px;display:inline-block;vertical-align:middle;font-size:32px;margin-right:10px; }
fieldset.fancyradiobuttons svg.fa-laptop { width:40px; }
fieldset.fancyradiobuttons svg.fa-mobile { width:20px; }
fieldset.fancyradiobuttons svg.fa-tablet { width:28px; }
fieldset.fancyradiobuttons svg.fa-windows { width:28px; }
fieldset.fancyradiobuttons svg.fa-android { width:28px; }
fieldset.fancyradiobuttons svg.fa-apple { width:28px; }
/* Form extra */
.input_newline { width:100%;height:1px;display:block;pointer-events:none;padding:0;margin:0; }
/* Advanced Form Page */
#form_basics { display:none; }
#form_advanced { display:none; }
#form_time { display:none; }
/* Extra Required Info */
#form .bottommessage { background-color:rgb(245 8 52);padding:20px 20px 0 !important;margin-bottom:80px !important;border:2px solid rgb(255 0 0);box-shadow:0 0 20px 5px #ff6363;animation: pulsemsg 2s linear infinite; }
#form .bottommessage legend { display:none !important; }
#form .bottommessage p { color:#fff !important;font-size:22px !important; }
@keyframes pulsemsg {
    0% {
     transform: scale(1, 1);
    }

    20% {
     transform: scale(1.1, 1.1);
	 box-shadow: 0 0 80px 20px #ff3636;
    }
	
	60% {
    transform: scale(1, 1);
	}
	
    100% {
    transform: scale(1, 1);
    }
}
/* Form Navigation Buttons */
#form #navbtn_bar { display:block;text-align:center;margin:0 auto;border-radius:20px; }
#form #navbtn_bar .navbtn { background-color:#62ce5d;width:180px;height:80px;display:inline-block;cursor:pointer;line-height:80px;color:#ccffc9;font-size:42px;font-weight:bold;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-align:center;text-transform:uppercase;margin:0 20px;border-bottom:3px solid rgba(255,255,255,0.12);border-radius:200px;transition-property:width, transform;transition-duration:400ms, 250ms;transition-timing-function:ease-in-out, ease; }
#form #navbtn_bar .navbtn.navbtn_marginleft { margin-left:240px;-webkit-transition:margin 400ms ease-in-out 0s;transition:margin 400ms ease-in-out 0s; }
#form #navbtn_bar .navbtn.navbtn_red { background-color:#d24e4e;color:#ffcfcf; }
#form #navbtn_bar .navbtn.navbtn_shifting { background-color:#a5a5a5;cursor:default;pointer-events:none;color:#c7c7c7; }
#form #navbtn_bar .navbtn.navbtn_disabled, #form #navbtn_bar .navbtn.navbtn_lockdown { background-color:#a5a5a5;width:120px;cursor:default;pointer-events:none;color:#c7c7c7;border-color:rgba(255,255,255,0.05); }
#form #navbtn_bar .navbtn.navbtn_hidden { display:none; }
#form #navbtn_bar .navbtn:not(.navbtn_shifting):not(.navbtn_disabled):not(.navbtn_lockdown):hover, #form #navbtn_bar .navbtn:not(.navbtn_shifting):not(.navbtn_disabled):not(.navbtn_lockdown):focus { background-color:#eee;color:#2a2f32;border-color:transparent;transform:scale(1.1); }
#form #navbtn_bar .navbtn svg { display:block;height:80px;line-height:80px;text-align:center;margin:0 auto; }
#form #navbtn_bar .navbtn .navbtn_hiddenicon { display:none; }
/* Form Notifications */
#form_notifications { position:fixed;left:25px;bottom:25px;z-index:10;display:none; }
#form_notifications #form_printbutton { background-color:#48a552;width:180px;height:125px;position:fixed;bottom:25px;left:25px;cursor:pointer;color:#fff;font-size:24px;text-align:center;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-transform:uppercase;padding:20px 0;border-radius:5px; }
#form_notifications #form_printbutton:hover { background-color:#f05a22; }
#form_notifications #form_printbutton svg { display:block;font-size:52px;margin:0 auto 12px; }
#form_notifications #form_requirednotice { background-color:#bf2121;position:fixed;bottom:25px;left:25px;-webkit-print-color-adjust:exact;cursor:default;line-height:36px;color:#fcfeff;font-size:32px;text-align:center;font-family:"Gotham-Bold",Arial,Helvetica,sans-serif;text-transform:uppercase;letter-spacing:1px;padding:15px 20px;border-radius:5px; }
#form_notifications #form_editnotice { background-color:#525f67;width:300px;position:fixed;bottom:25px;right:25px;cursor:default;line-height:20px;color:#fcfeff;font-size:16px;text-align:center;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;padding:10px 15px;border-radius:5px; }
/* Form Footer */
#form_footer { width:100%;position:absolute;bottom:0;left:0;display:none;font-family:"Roboto-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#form_footer > #form_footer_finalinfo { background-color:#e2e4e4;-webkit-print-color-adjust:exact;height:50px;display:flex;line-height:50px;color:#111;font-size:14px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;padding:0 10px;margin:0;border-radius:5px 5px 0 0; }
#form_footer > #form_footer_finalinfo > div { width:40%; }
#form_footer > #form_footer_finalinfo > div:last-of-type { width:60%;text-align:right; }
#form_footer > #form_footer_finalinfo > div span.signaturebox { background-color:#fff;width:240px;height:36px;display:inline-block;vertical-align:middle;margin-left:10px;margin-bottom:2px;border-radius:5px; }
#form_footer > #form_footer_finalinfo > div svg, #form_footer > #form_footer_finalinfo > div i { vertical-align:middle;font-size:24px;margin-right:5px; }
#form_footer > #form_footer_disclaimer { background-color:#464c50;display:block;height:46px;-webkit-print-color-adjust:exact;clear:both;cursor:default;font-size:10px;color:#fff;text-align:center;padding:10px;border-radius:0 0 5px 5px; }
/* Page Footer */
footer { width:100%;height:100px;display:block;text-align:center;padding:21px 20px 19px;margin:60px auto 0; }
footer > div { width:1000px;max-width:100%;height:60px;display:block;line-height:22px;color:#91979a;font-size:18px;font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;margin:0 auto; }
footer > div > div.footer_copyright { display:block;cursor:default;padding-top:10px; }
footer > div > div.footer_authorlink { display:block;font-size:14px; }
footer > div > div a { color:inherit;text-decoration:none; }
footer > div > div a:hover { color:#fff;text-decoration:underline; }
footer > div > div.footer_invisible { color:#c1c1c1;font-family:"Roboto-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* Pattern selection */
/*** spacings ***/
/*** font size css **/
/*flexible width*/
/*flexible height*/
/*setting font size line height and color together*/
.patt-holder {
  background: #758590;
  background-size: auto 100%;
  -ms-touch-action: none;
  margin-bottom: 15px;
  border-radius: 10px;
}
.patt-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
.patt-wrap {
  position: relative;
  cursor: pointer;
}
.patt-wrap ul,
.patt-wrap li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.patt-circ {
  position: relative;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.patt-circ.hovered {
  border: 3px solid #009900;
}
.patt-error .patt-circ.hovered {
  border: 3px solid #BA1B26;
}
.patt-hidden .patt-circ.hovered {
  border: 0;
}
.patt-dots {
  background: #4e535a;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.patt-lines {
  border-radius: 5px;
  height: 10px;
  background: rgb(152, 255, 160);
  position: absolute;
  transform-origin: 5px 5px;
  -ms-transform-origin: 5px 5px;
  /* IE 9 */
  -webkit-transform-origin: 5px 5px;
}
.patt-hidden .patt-lines {
  display: none;
}
#patternUI,
#patternCaptcha {
  float: left;
  margin: 0 20px;
}
#actionButton {
  clear: both;
}
#refreshCaptcha,
#submitCaptcha {
  padding: 8px 20px;
  margin: 10px 20px;
}
#patternHolder7 .patt-wrap {
  z-index: 10;
}
#patternHolder7 .patt-circ.hovered {
  background-color: #6cf777;
  border: none;
}
#patternHolder7 .patt-circ.hovered .patt-dots {
  display: none;
}
#patternHolder7 .patt-circ.dir {
  background-image: url('../img/icon-arrow.png');
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
}
#patternHolder7 .patt-circ.e {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
#patternHolder7 .patt-circ.s-e {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#patternHolder7 .patt-circ.s {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#patternHolder7 .patt-circ.s-w {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#patternHolder7 .patt-circ.w {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#patternHolder7 .patt-circ.n-w {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
#patternHolder7 .patt-circ.n {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
#patternHolder7 .patt-circ.n-e {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
@media print {    
    .no-print, .no-print * {
        display:none !important;
    }
	.print-only, .print-only * {
        display:block !important;
    }
	::-webkit-input-placeholder {
      color:transparent;
	}
	:-moz-placeholder {
		color:transparent;
	}
	::-moz-placeholder {
		color:transparent;
	}
	:-ms-input-placeholder {
		color:transparent;
	}
}
@media only screen and (max-width:1000px) {
	html, body { background-color:#ccc;overflow:hidden; }
	#mobileblock { display:block; }
	#main { display:none;pointer-events:none; }
	#main #content { pointer-events:none;padding-left:20px;padding-right:20px; }
}